.section {

}

.section-start{

}

.angular-bg {
    position: absolute;
    top:-20em;
    height: 20em;
    width: 100%;
    background-color: #00FFD1;
    z-index: -1;

}

.angular-bg:before {
    content: "";
    background: #00FFD1;
    height: 40em;
    transform: skewY(-2deg);
    position: absolute;
    top:40em;
    left: 0;
    right: 0;
    margin-left: -3em;
    z-index: -1;
}

.angular-bg:after {
    content: "";
    background: #00FFD1;
    height: 18em;
    transform: skewY(1deg);
    position: absolute;
    top:70em;
    left: 0;
    right: 0;
    margin-left: -3em;
    z-index: -1;
}

/*.start-image {*/
/*    width: 20%;*/
/*    position: absolute;*/
/*    left: 10em;*/
/*    right: 0;*/
/*    z-index: 10;*/
/*}*/

.ellipse {
    position: absolute;
    top:0;
    left: 30em;
    z-index: 100;
}

.citation {
    position: relative;
    font-size: 1.5em;
    z-index: 101;
    margin-top: 2em;
}

.image.start {
    margin-top: 2em;
}

@media screen and (min-width: 768px) {
    .citation {
        margin-top: 12em;
    }
}

@media screen and (min-width: 1024px) {
    .section:not(#section-start) {
        margin-top: 10em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .image.start {
        margin-top: 12em;
    }
}
