.navbar{
    z-index: 200!important;
}
.item{
    height: 100%;
}
.angular-bg {
    position: relative;
    width: 100%;
    top:-20em;
    height: 20em;
    z-index: -1;
}

.angular-bg:before {
    content: "";
    background: #00FFA3;
    height: 30em;
    transform: skewY(-2deg);
    position: absolute;
    top:-15em;
    left: 0;
    right: 0;
    margin-left: -3em;
    z-index: -1;
}

.angular-bg:after {
    content: "";
    background: #00FFA3;
    height: 35em;
    transform: skewY(2deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: -3em;
    z-index: -1;
}

.angular-bg-small {
    position: relative;
    width: 100%;
    margin-top: 5em;
    z-index: -1;
}

.angular-bg-small:before {
    content: "";
    background: #00FFA3;
    height: 10em;
    transform: skewY(-2deg);
    position: absolute;
    top:-2em;
    left: 0;
    right: 0;
    margin-left: -3em;
    z-index: -1;
}

.angular-bg-small:after {
    content: "";
    background: #00FFA3;
    height: 15em;
    transform: skewY(1deg);
    position: absolute;
    top:2.4em;
    left: 0;
    right: 0;
    margin-left: -3em;
    z-index: -1;
}

.angular-bg-contact {
    position: relative;
    width: 100%;
    background-color: #4a4a4a;
    z-index: -1;
}

.angular-bg-contact:before {
    content: "";
    background: #4a4a4a;
    height: 10em;
    transform: skewY(-2deg);
    position: absolute;
    top:-5em;
    left: 0;
    right: 0;
    margin-left: -3em;
    z-index: -1;
}

.angular-bg-contact:after {
    content: "";
    background: #4a4a4a;
    position: absolute;
    height: 10em;
    transform: skewY(1deg);
    left: 0;
    right: 0;
    margin-left: -3em;
    z-index: -1;
}

#section-contact {
    background: #4a4a4a;
    padding-top: 1em;
}

.start-image{
    width: 25em;
    position: absolute;
    left: 10em;
    right: 0;
    z-index: 10;
}

.section-heading{
    position: relative;
    height: 20em;
}

.section-heading-title{
    position: relative;
    top: 9.5em;
}

.section-heading svg{
    width: 17em !important;
    height: 17em !important;
    position: relative;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.ellipse{
    position: absolute;
    top: -35%;
    left: 40%;
    width: 100%;
}

.citation {
    position: relative;
    z-index: 101;
    margin-top: 3em;
}

.about-me-image {
    margin-bottom: 4em;
}

.shadow{
    margin-left: -6em;
    margin-bottom: -5em;
    margin-right: 3em;
    z-index: -1;
    left: 0;
}

/* Magical underline; Source: https://codepen.io/Wking/pen/BdmpVx */

.underline--magical {
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;

}
.underline--magical:hover {
    background-image: linear-gradient(120deg, #00FFA3 0%, #00FFA3 100%);
    background-size: 100% 40%;
    transition: background-size 0.25s ease-in;
    color: #4a4a4a !important;
 }

a.navbar-item:hover {
    color: #000;
}

/* ---------------------------------------- */
/*.slider-item .image {*/
/*    height: 26.1em;*/
/*}*/

.slider-item {
    padding: 2em;
}

.card {
    border-radius: 0;
}

/* Form */
.speech-input{
    position: relative;
    top: -10.8em;
    margin-bottom: -10em;
}

.input, .input:focus {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #CCC;
    box-shadow: none;
}

.input:focus {
    border-bottom: 3px solid #00FFA3;
}

.textarea {
    z-index: 1;
}

.input::placeholder {
    color: #FFF;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .image.start {
        margin-top: 12em;
    }
}

@media screen and (min-width: 1024px) {
    .card-content {
        min-height: 21em;
    }
}